api.thebazaar-twitch.online {
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
  }

  handle_path /bazaar-art/s.bazaardb.gg/* {
    reverse_proxy https://s.bazaardb.gg {
      header_up Host s.bazaardb.gg
    }
  }

  handle_path /bazaar-art/i.bazaardb.gg/* {
    reverse_proxy https://i.bazaardb.gg {
      header_up Host i.bazaardb.gg
    }
  }

  handle /health {
    reverse_proxy ebs:8000
  }

  handle /v1/* {
    reverse_proxy ebs:8000
  }

  handle /docs* {
    reverse_proxy ebs:8000
  }

  handle /openapi.json {
    reverse_proxy ebs:8000
  }

  handle {
    root * /srv/extension
    file_server
  }
}
